@model Swas.Clients.Models.EditViewModel

@{
    Layout = null;
}

<div id="editorDialog">
    <div class="modal-header" style="vertical-align:middle">
        <button type="button" id="windlowCloseHiddenButton" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h5 class="modal-title font-blue-chambray" style="font-family: mtavrulibold; margin-top:10px;">აქტის გადახდები</h5>
    </div>
    <div class="modal-body">
        <div class="row" id="createDiv">

            <div class="portlet-body form">
                <form action="#" class="form-horizontal form-row-seperated" id="registrationForm">
                    <div class="form-body">
                        <div class="alert alert-danger" hidden>

                        </div>

                        <div class="col-md-12 caption-subject font-black-cascade uppercase">
                            <div class="col-md-2" style="text-align:right;"><b>აქტი:</b></div>
                            <div class="col-md-4" style="text-align:left;">#<label id="ActId"></label></div>
                            <div class="col-md-2" style="text-align:right;"><b>დასახელება:</b></div>
                            <div class="col-md-4" style="text-align:left;"><label id="CustomerName"></label></div>
                        </div>
                        <div style="margin-top:10px;" class="col-md-12 caption-subject font-black-cascade uppercase">
                            <div class="col-md-2" style="text-align:right;"><b>თარიღი:</b></div>
                            <div class="col-md-4" style="text-align:left;"><label id="ActDate"></label></div>
                            <div class="col-md-2" style="text-align:right;"><b>საინ.კოდი:</b></div>
                            <div class="col-md-4" style="text-align:left;"><label id="CustomerCode"></label></div>
                        </div>
                        <div style="margin-top:10px;" class="col-md-12 caption-subject font-black-cascade uppercase">
                            <div class="col-md-2" style="text-align:right;"><b>ნაგავსაყრელი:</b></div>
                            <div class="col-md-4" style="text-align:left;"><label id="LandfillName"></label></div>
                            <div class="col-md-2" style="text-align:right;"><b>ტელ:</b></div>
                            <div class="col-md-4" style="text-align:left;"><label id="CustomerInfo"></label></div>
                        </div>

                        <div class="col-md-12">&nbsp;</div>

                        <div class="col-md-12 caption-desc font-black-cascade">

                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_15_1" data-toggle="tab">
                                            გადახდების ისტორია
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_15_1">
                                        <span class="badge badge-default pull-right bg-hover-green-jungle" style="margin-top:-60px;" data-target="#detailEditorDialog" data-toggle="modal" id="addPayment">
                                            <a class="font-white" href="javascript:;">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </span>

                                        <table id="SolidWastActDetailTable" class="table table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th style="height: 100%;vertical-align: middle; text-align: left;">გადახდის თარიღი</th>
                                                    <th style="height: 100%;vertical-align: middle; text-align: center; width: 100px;">თანხა</th>
                                                    <th style="height: 100%;vertical-align: middle; text-align: center;width: 79px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12 caption-desc font-black-cascade" style="margin-top:-35px;">
                            <div class="col-md-4" style="text-align:right">
                                &nbsp;
                            </div>

                            <div class="col-md-3" style="text-align:right">
                                <b>გადასახდელი თანხა</b>
                                <div><b> <label id="TotalPayAmount">0.00</label> ₾ </b></div>
                            </div>

                            <div class="col-md-3" style="text-align:right">
                                <b>გადახდილი თანხა</b>
                                <div><b> <label id="PaidAmount">0.00</label> ₾ </b></div>
                            </div>

                            <div class="col-md-2" style="text-align:right">
                                <b>ნაშთი</b>
                                <div><b> <label id="RemainAmount">0.00</label> ₾</b></div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>


    @*data-focus-on="input:PayDate"*@
    <div id="detailEditorDialog" class="modal fade" tabindex="-2">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h5 class="modal-title font-blue-chambray" style="font-family: mtavrulibold; margin-top:10px;">გადახდების ისტორია</h5>
        </div>
        <form action="#" class="form-horizontal form-row-seperated" id="addPaymentForm" name="addPaymentForm">
            <div class="modal-body">
                <div id="wasteEditorErrorText" class="alert alert-danger display-hide">

                </div>

                <div class="form-group form-md-line-input">
                    <label class="col-md-4 control-label" style="text-align:right;" for="PayDate">გადახდის თარიღი</label>
                    <div class="col-md-8">
                        <div class="input-group date date-picker" id="PayDatePicker" data-date-format="mm/dd/yyyy">
                            <input type="datetime" class="form-control" name="PayDate" id="PayDate" size="6" readonly>
                            <span class="input-group-btn">
                                <button class="btn default" type="button" style="margin-left:0.3px;">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <div class="form-control-focus"> </div>
                        <span class="help-block">შეიყვანეთ გადახდილი თანხა.</span>
                    </div>
                </div>

                <div class="form-group form-md-line-input">
                    <label class="col-md-4 control-label" style="text-align:right;" for="Amount">გადახდილი თანხა</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="Amount" id="Amount">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">შეიყვანეთ გადახდილი თანხა.</span>
                    </div>
                </div>
                <br />
            </div>
        </form>

        <div class="modal-footer">
            <button type="button" class="btn green" id="tbSavePaymentHistory">შენახვა</button>
            <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal" id="btWasteClose">გაუქმება</button>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn green" id="btSave">შენახვა</button>
        <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">გაუქმება</button>
    </div>
    <input type="hidden" name="Id" id="Id" value="@Model.Id" />

</div>

<script src="~/assets/script/Payment/Edit.js"></script>
