
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>არასანქცირებული წვდომა</title>
</head>
<body>
    <div> 
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h3>თქვენ არ გაქვთ რესურსზე წვდომა.</h3>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
