@model IEnumerable<Swas.Client.Models.RegionViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="widget-body" style="margin-top: -10px;">
    <div id="fontawesome-container">

        <p>
            <a class="btn btn-primary" href="/Region/Create">ჩანაწერის დამატება</a>
        </p>

        <div class="flip-scroll">

            <table class="table table-bordered table-hover">
                <thead >
                    <tr>
                        <th width="85px">
                            
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-sm edit fa fa-edit" })
                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-default btn-sm delete fa fa-trash-o" })
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>