@model IEnumerable<Swas.Clients.Models.WasteTypeViewModel>
@using Swas.Clients.Common
@{
    ViewBag.Title = "ნარჩენების სახეობის ცნობარი";
}


<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered" id="viewBody">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-pointer font-red"></i>
                    <span class="caption-subject font-red bold uppercase" style="font-family: mtavrulibold">ნარჩენების სახეობის ცნობარი</span>
                </div>
            </div>

            <a id="ajax-model-dialog-editor" data-url="/home/test" data-toggle="modal"> </a>
            <div id="ajax-modal" class="modal fade" tabindex="-1" data-width="760"> </div>

            <div class="portlet-body">

                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                @if (Globals.SessionContext.HasPermission("SolidWasteAct.Create"))
                                {
                                    <button style="margin-right:5px" class="btn red btn-outline" onclick="javascript:create();">
                                        <i class="fa fa-plus"></i>
                                        ახალი
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                @if (Globals.SessionContext.HasPermission("WasteType.Delete"))
                {
                    <input type="hidden" id="hasDelete" value="true" />
                }
                else
                {
                    <input type="hidden" id="hasDelete" value="false" />
                }


                @if (Globals.SessionContext.HasPermission("WasteType.Edit"))
                {
                    <input type="hidden" id="hasEdit" value="true" />
                }
                else
                {
                    <input type="hidden" id="hasEdit" value="false" />
                }


                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light" id="regionsItemSource">
                        <thead>
                            <tr class="uppercase">

                                <th style="font-family: mtavrulibold;">
                                    დასახელება
                                </th>

                                <th colspan="3" style="font-family: mtavrulibold; text-align:center">
                                    მასა/ღირებულება
                                </th>

                                <th style="font-family: mtavrulibold; text-align:center">
                                    მ<sup>3</sup> ტონაში
                                </th>

                                <th width="100px">
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section PageScripts{
    <script src="~/assets/script/WasteType/Index.js"></script>
}




