@model Swas.Clients.Models.RoleViewModel

@{
    Layout = null;
}
<div id="editorDialog">
    <div class="modal-header" style="vertical-align:middle">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h5 class="modal-title font-dark-grey" style="font-family: mtavrulibold; margin-top:10px;">უფლების შექმნა</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 ">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal" id="registrationForm">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">

                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label" for="form_control_1"> @Html.DisplayNameFor(model => model.Description) </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="" name="description" id="description">
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">შეიყვანეთ უფლების აღწერილობა.</span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label" for="form_control_1"> უფლებები </label>
                                <div class="col-md-9">
                                    <select id="permissionCombo" name="permissionCombo" class="form-control select2" multiple ></select>
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">აირჩით უფლებები.</span>
                                </div>
                            </div>

                        </div>

                    </form>
                    <!-- END FORM-->
                </div>

            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">გაუქმება</button>
        <button type="button" class="btn green" id="btSave">შენახვა</button>
    </div>

</div>

<script src="../assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
<script src="~/assets/script/BusyIndicator/BusyIndicator.js"></script>
<script src="~/assets/script/Role/Create.js"></script>