@model IEnumerable<Swas.Clients.Models.RegionViewModel>
@using Swas.Clients.Common
@{
    ViewBag.Title = "რეგიონების ცნობარი";
}

<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered" id="viewBody">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-pointer font-blue"></i>
                    <span class="caption-subject font-blue bold uppercase" style="font-family: mtavrulibold">რეგიონების ცნობარი</span>
                </div>
                <div class="btn-group pull-right">
                    @if (Globals.SessionContext.HasPermission("Region.Insert"))
                    {
                        <button style="margin-right:5px" class="btn blue btn-outline" onclick="javascript:create();">
                            <i class="fa fa-plus"></i>
                            ახალი
                        </button>
                    }
                </div>


            </div>

            <a id="ajax-model-dialog-editor" data-url="/home/test" data-toggle="modal"> </a>
            <div id="ajax-modal" class="modal fade" tabindex="-1"> </div>

            <div class="portlet-body">
                @if (Globals.SessionContext.HasPermission("Region.Delete"))
                {
                    <input type="hidden" id="hasDelete" value="true" />
                }
                else
                {
                    <input type="hidden" id="hasDelete" value="false" />
                }


                @if (Globals.SessionContext.HasPermission("Region.Edit"))
                {
                    <input type="hidden" id="hasEdit" value="true" />
                }
                else
                {
                    <input type="hidden" id="hasEdit" value="false" />
                }

                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light" id="regionsItemSource">
                        <thead>
                            <tr class="uppercase">

                                <th style="font-family: mtavrulibold"> @Html.DisplayNameFor(model => model.Name)</th>
                                <th width="100px">
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section PageScripts{
    <script src="~/assets/script/Region/Index.js"></script>
}