@model Swas.Clients.Models.LandfillViewModel

@{
    Layout = null;
}
<div id="editorDialog">
    <div class="modal-header" style="vertical-align:middle">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h5 class="modal-title font-black" style="font-family: mtavrulibold; margin-top:10px;">რეგიონის შექმნა</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 ">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal" id="registrationForm">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">

                            </div>
                            
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label input-sm" for="Name"> @Html.DisplayNameFor(model => model.Name) </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-sm" placeholder="" name="Name" id="Name">
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">შეიყვანეთ ნაგავსაყრელის დასახელება.</span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label" for="RegionId">@Html.DisplayNameFor(model => model.RegionName)</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("RegionId", (IEnumerable<SelectListItem>)ViewBag.RegionItemSource, new { @class = "form-control select2" })
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">აირჩიეთ რეგიონი.</span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>

            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn green" id="btSave">შენახვა</button>
        <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">გაუქმება</button>
    </div>

</div>

<script src="~/assets/pages/scripts/Landfill/Create.js"></script>
